:root {
    --themeMainBlue: #219ebc;
    --themeHighlightsBlue: #8ecae6;
    --backGround: #eaf1f2;
    --backGroundLight: #eaf1f2bc;
    --themeYellow: #ffb703;
    --themeYellowDark: #fb8500;
    --textColor: #111
}

::-webkit-scrollbar {
    display: none
}

.dark {
    --backGround: #1e2529;
    --backGroundLight: #1e2529b9;
    --textColor: #eaf1f2
}

@font-face {
    font-family: "quaz";
    src: url(/fonts/Qaz-ZV74m.ttf);
    font-display: swap
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "quaz";
    scroll-behavior: smooth
}

#mobileMenu {
    display: none
}

/* the menu page below  */
#mobileMenuPage {
    display: none;
}

.showMenu {
    display: block;
}

#mobileMenuPage {
    background-color: var(--backGround);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='2000' preserveAspectRatio='none' viewBox='0 0 1200 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask16750%26quot%3b)' fill='none'%3e%3crect width='632.32' height='632.32' clip-path='url(%26quot%3b%23SvgjsClipPath16751%26quot%3b)' x='-133.24' y='949.5' fill='url(%23SvgjsPattern16752)' transform='rotate(74.32%2c 182.92%2c 1265.66)'%3e%3c/rect%3e%3crect width='336' height='336' clip-path='url(%26quot%3b%23SvgjsClipPath16753%26quot%3b)' x='831.51' y='787.93' fill='url(%23SvgjsPattern16754)' transform='rotate(131.35%2c 999.51%2c 955.93)'%3e%3c/rect%3e%3cpath d='M654.9200000000001 1780.45 L566.06 2015.8200000000002L701.8544048797285 1989.4994048797287z' stroke='rgba(142%2c 202%2c 230%2c 1)' stroke-width='2.58' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='192' height='192' clip-path='url(%26quot%3b%23SvgjsClipPath16755%26quot%3b)' x='204.93' y='268' fill='url(%23SvgjsPattern16756)' transform='rotate(243.47%2c 300.93%2c 364)'%3e%3c/rect%3e%3crect width='264' height='264' clip-path='url(%26quot%3b%23SvgjsClipPath16757%26quot%3b)' x='-74.82' y='523.17' fill='url(%23SvgjsPattern16758)' transform='rotate(224.32%2c 57.18%2c 655.17)'%3e%3c/rect%3e%3crect width='396' height='396' clip-path='url(%26quot%3b%23SvgjsClipPath16759%26quot%3b)' x='305.69' y='331.53' fill='url(%23SvgjsPattern16760)' transform='rotate(289.59%2c 503.69%2c 529.53)'%3e%3c/rect%3e%3crect width='554.4' height='554.4' clip-path='url(%26quot%3b%23SvgjsClipPath16761%26quot%3b)' x='592.75' y='201.06' fill='url(%23SvgjsPattern16762)' transform='rotate(216.56%2c 869.95%2c 478.26)'%3e%3c/rect%3e%3crect width='732' height='732' clip-path='url(%26quot%3b%23SvgjsClipPath16763%26quot%3b)' x='778.02' y='1563.7' fill='url(%23SvgjsPattern16764)' transform='rotate(340.58%2c 1144.02%2c 1929.7)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask16750'%3e%3crect width='1200' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='9.88' height='9.88' patternUnits='userSpaceOnUse' id='SvgjsPattern16752'%3e%3cpath d='M0 9.88L4.94 0L9.88 9.88' stroke='rgba(142%2c 202%2c 230%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16751'%3e%3ccircle r='158.08' cx='182.92' cy='1265.66'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='336' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16754'%3e%3crect width='336' height='3' x='0' y='0' fill='rgba(33%2c 158%2c 188%2c 1)'%3e%3c/rect%3e%3crect width='336' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16753'%3e%3ccircle r='84' cx='999.51' cy='955.93'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16756'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16755'%3e%3ccircle r='48' cx='300.93' cy='364'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16758'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16757'%3e%3ccircle r='66' cx='57.18' cy='655.17'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='396' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16760'%3e%3crect width='396' height='3' x='0' y='0' fill='rgba(33%2c 158%2c 188%2c 1)'%3e%3c/rect%3e%3crect width='396' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16759'%3e%3ccircle r='99' cx='503.69' cy='529.53'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.7' height='7.7' patternUnits='userSpaceOnUse' id='SvgjsPattern16762'%3e%3cpath d='M0 7.7L3.85 0L7.7 7.7' stroke='rgba(142%2c 202%2c 230%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16761'%3e%3ccircle r='138.6' cx='869.95' cy='478.26'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16764'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(142%2c 202%2c 230%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16763'%3e%3ccircle r='183' cx='1144.02' cy='1929.7'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    transition: all 500ms ease-in;
    animation-name: menu;
    animation-duration: 400ms;
}

@keyframes menu {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

#mobMenuOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#innerMenu {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: var(--textColor);
    justify-content: center;
}

#close-btn {
    color: var(--textColor);
    position: absolute;
    right: 0;
    padding: 30px;
    font-size: 50px;
}

#close-btn:after {
    transform: rotate(180deg);
    transition: 300ms ease;
}

#mobMenuOptions div {
    text-align: center;
    padding: 10px;
    width: 80vw;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    color: #111;
    background-color: var(--themeYellowDark);
}

#mobMenuOptions div:nth-child(6) {
    background-color: unset;
}

#socialLinksMenu a {
    color: var(--textColor);
    font-size: 30px;
}

nav {
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backGroundLight);
    backdrop-filter: blur(1px)
}

#nav-Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    color: var(--themeMainBlue)
}

.navLogo {
    background: url(/assets/Sccse_loggo__1_-removebg-preview.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    mix-blend-mode: difference
}

#nav-left-top {
    font-size: 1.5vw;
    color: var(--textColor);
    font-weight: 900
}

#nav-mid {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center
}

#nav-mid a {
    text-decoration: none;
    color: var(--textColor);
    margin: 0 1vw;
    font-weight: 300
}

#themeChange {
    cursor: pointer;
    color: var(--textColor);
}

#themeChange:hover {
    transform: 200ms ease;
    transform: rotate(350deg);
}

#themeChange:active {
    transition: 400ms ease;
    transform: rotate(100deg);
}

#nav-right {
    background-color: transparent;
    border-radius: 4vw;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    padding: 1vh 2vw;
    border: 1px solid var(--themeYellowDark)
}

#nav-right:hover {
    background-color: var(--themeYellowDark);
    transition: 1.5s ease;
    color: #111
}

#nav-right a {
    text-decoration: none;
    color: var(--textColor)
}

/* loader part  */
#loader {
    z-index: 1000;
    position: fixed;
    transition: 500ms ease;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--backGround);
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainAnim {
    width: 150px;
    height: 5vh;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading {
    background-color: var(--themeYellow);
    height: 20px;
    width: 20px;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    border-radius: 50%;


}

.load1 {
    transition: 300ms ease;
    animation-name: loading1;
    animation-duration: 1s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
}

.load2 {
    transition: 300ms ease;
    animation-name: loading2;
    animation-duration: 1s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
}

.load3 {
    transition: 300ms ease;
    animation-name: loading3;
    animation-duration: 1s;
    animation-delay: 150ms;
    animation-iteration-count: infinite;
}


@keyframes loading1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes loading2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-40px);

    }

    100% {
        transform: translateY(0px);

    }

}

@keyframes loading3 {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(-60px);

    }

    100% {
        transform: translateY(0px);

    }

}



body {
    background-color: var(--backGround);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='4000' height='2000' preserveAspectRatio='none' viewBox='0 0 4000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask16054%26quot%3b)' fill='none'%3e%3cpath d='M794.05 262.72L789.71 274.77 777 273.18 772.66 285.22 759.95 283.63 755.61 295.68 742.9 294.09' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3ccircle r='166.66666666666666' cx='1501.96' cy='1823.07' fill='rgba(33%2c 158%2c 188%2c 1)'%3e%3c/circle%3e%3crect width='900' height='900' clip-path='url(%26quot%3b%23SvgjsClipPath16055%26quot%3b)' x='256.89' y='1460.04' fill='url(%23SvgjsPattern16056)' transform='rotate(196.59%2c 706.89%2c 1910.04)'%3e%3c/rect%3e%3crect width='963.2' height='963.2' clip-path='url(%26quot%3b%23SvgjsClipPath16057%26quot%3b)' x='713.85' y='322.79' fill='url(%23SvgjsPattern16058)' transform='rotate(296.34%2c 1195.45%2c 804.39)'%3e%3c/rect%3e%3cpath d='M1231.3799999999999 352.90000000000003 L1876.05 123.94L1241.4411713420252 -73.85382865797476z' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='1.28' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath16059%26quot%3b)' x='793.8' y='1097.14' fill='url(%23SvgjsPattern16060)' transform='rotate(259.45%2c 823.8%2c 1127.14)'%3e%3c/rect%3e%3crect width='876' height='876' clip-path='url(%26quot%3b%23SvgjsClipPath16061%26quot%3b)' x='2893.38' y='-6.05' fill='url(%23SvgjsPattern16062)' transform='rotate(213.33%2c 3331.38%2c 431.95)'%3e%3c/rect%3e%3cpath d='M2549.57 439.11a5.6 5.6 0 1 0-1.38 11.11 5.6 5.6 0 1 0 1.38-11.11zM2547.6 454.99a5.6 5.6 0 1 0-1.39 11.11 5.6 5.6 0 1 0 1.39-11.11zM2545.62 470.86a5.6 5.6 0 1 0-1.39 11.12 5.6 5.6 0 1 0 1.39-11.12zM2543.64 486.74a5.6 5.6 0 1 0-1.38 11.12 5.6 5.6 0 1 0 1.38-11.12z' stroke='rgba(142%2c 202%2c 230%2c 1)' stroke-width='2.53'%3e%3c/path%3e%3crect width='432' height='432' clip-path='url(%26quot%3b%23SvgjsClipPath16063%26quot%3b)' x='3171.55' y='1327.69' fill='url(%23SvgjsPattern16064)' transform='rotate(308.72%2c 3387.55%2c 1543.69)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask16054'%3e%3crect width='4000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16056'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16055'%3e%3ccircle r='225' cx='706.89' cy='1910.04'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='12.04' height='12.04' patternUnits='userSpaceOnUse' id='SvgjsPattern16058'%3e%3cpath d='M6.02 1L6.02 11.04M1 6.02L11.04 6.02' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16057'%3e%3ccircle r='240.8' cx='1195.45' cy='804.39'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16060'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none' stroke-width='1.43'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16059'%3e%3ccircle r='15' cx='823.8' cy='1127.14'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16062'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(142%2c 202%2c 230%2c 1)' fill='none' stroke-width='1.91'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16061'%3e%3ccircle r='219' cx='3331.38' cy='431.95'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern16064'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath16063'%3e%3ccircle r='108' cx='3387.55' cy='1543.69'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e")
}

header {
    min-height: 100vh;
    height: 100vh
}

#home-Top {
    display: flex;
    align-items: center;
    justify-content: center
}

#home-Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%
}

#home-Image {
    min-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 40vh;
    padding: 10px;
    min-height: 400px;
    background-color: #eaf1f2;
    border-radius: 10px;
    transform: rotate(-5deg);
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px
}

#innerImage {
    height: 95%;
    border-radius: 2px;
    width: 95%;
    background: url(/assets/testImage-min.webp);
    background-size: cover;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px
}

#home-Image-Text {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

#home-Text-Content {
    min-width: 300px
}

#home-Image-Text-Left p:nth-child(1) {
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--themeYellowDark)
}

#home-Image-Text-Left p:nth-child(2) {
    font-size: .8vw;
    font-weight: 200;
    color: #111
}

#home-Image-Text-Right {
    color: var(--themeMainBlue);
    font-weight: 600
}

#home-Text-Content p {
    color: var(--textColor);
    font-size: 1.5vw
}

#home-Text-Content p:nth-child(2) {
    color: var(--textColor)
}

#home-Text-Content p:nth-child(3) {
    color: var(--themeYellowDark);
    font-size: 3vw;
    font-weight: 900
}

#home-Text-Content p:nth-child(4) {
    font-size: 1.5vw
}

#home-Text-Content p:nth-child(5) {
    font-size: 2vw;
    font-weight: 700
}

#NoteScHead {
    padding: 5vh 10vw;
    text-align: center
}

#NoteScHeading p:nth-child(1) {
    color: transparent;
    font-size: 6vw;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--themeYellow)
}

#NoteScHeading p:nth-child(2) {
    margin-top: -65px;
    color: var(--themeYellowDark);
    font-size: 9vw;
    font-weight: 800
}

#scHeadInnerImage {
    background-image: url("https://images.unsplash.com/flagged/photo-1564401398070-9a0ec00bd38a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
}

#scHeadNote {
    padding: 20px;
    min-width: 600px;
    min-height: 500px;
    background-color: #eaf1f2;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M278.87 597.16C492.41 573.55 621.48 106.89 983.15 104.69 1344.83 102.49 1506.75 266.04 1687.44 267.09' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M308.46 670.91C471.94 669.07 607.69 492.73 936.42 488.28 1265.14 483.83 1399.08 283.73 1564.37 281.08' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M653.13 611.24C805.7 560.52 841.33 121.28 1062.11 114.93 1282.89 108.58 1361.12 274.39 1471.09 277.33' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M720.25 591.71C853.66 567.99 887.31 257.68 1129.11 235.86 1370.9 214.04 1427.5 71.09 1537.96 67.86' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M200.29 606.8C314.69 605.76 420.9 487.81 642.18 487.79 863.47 487.77 863.13 557.79 1084.08 557.79 1305.02 557.79 1414.12 488.01 1525.97 487.79' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    border-radius: 10px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px
}

#scHeadImage {
    min-width: 400px;
    background-color: var(--themeMainBlue);
    min-height: 500px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column
}

#scHeadInnerImage {
    height: 460px;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
}

#scHeadTextMain {
    text-align: left;
    font-size: 20px;
    max-width: 400px
}

#scHeadTextMain span {
    font-size: 40px;
    font-weight: 600
}

#scHeadText {
    padding: 10px 0
}

#scHeadText p {
    text-align: right;
    color: #eaf1f2
}

#scHeadText p:nth-child(1) {
    font-size: 20px
}

#upcomingItems {
    text-align: center
}

#upcomingItemsHead p:nth-child(1) {
    color: transparent;
    font-size: 6vw;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--themeYellow)
}

#upcomingItemsHead p:nth-child(2) {
    margin-top: -65px;
    color: var(--themeYellowDark);
    font-size: 9vw;
    font-weight: 800
}

#upcomingItemsCards {
    width: 100vw;
    background-color: var(--themeYellowDark);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3cpath d='M -1057.4539921167147%2c462 C -673.45%2c487.2 94.55%2c648.6 862.5460078832853%2c588 C 1630.55%2c527.4 2571.06%2c108 2782.5460078832853%2c159 C 2994.04%2c210 2092.51%2c706.2 1920%2c843' stroke='rgba(39%2c 40%2c 44%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1132.475789946733%2c455 C -748.48%2c487.6 19.52%2c698 787.5242100532671%2c618 C 1555.52%2c538 2481.03%2c-16.2 2707.524210053267%2c55 C 2934.02%2c126.2 2077.5%2c790.2 1920%2c974' stroke='rgba(39%2c 40%2c 44%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1268.154666282199%2c324 C -884.15%2c405.2 -116.15%2c721.4 651.8453337178009%2c730 C 1419.85%2c738.6 2318.21%2c312 2571.8453337178007%2c367 C 2825.48%2c422 2050.37%2c877.4 1920%2c1005' stroke='rgba(33%2c 158%2c 188%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -3373.2930906835054%2c1056 C -2989.29%2c931.6 -2221.29%2c452.2 -1453.2930906835056%2c434 C -685.29%2c415.8 -207.95%2c983.6 466.7069093164944%2c965 C 1141.37%2c946.4 1629.34%2c465.8 1920%2c341' stroke='rgba(33%2c 158%2c 188%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2341.7123031665838%2c479 C -1957.71%2c513 -1189.71%2c664.8 -421.7123031665838%2c649 C 346.29%2c633.2 1029.95%2c405 1498.2876968334162%2c400 C 1966.63%2c395 1835.66%2c579.2 1920%2c624' stroke='rgba(33%2c 158%2c 188%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2427.429912259474%2c233 C -2043.43%2c387.2 -1275.43%2c1030.4 -507.42991225947367%2c1004 C 260.57%2c977.6 927.08%2c185.6 1412.5700877405263%2c101 C 1898.06%2c16.4 1818.51%2c485 1920%2c581' stroke='rgba(33%2c 158%2c 188%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e")
}

#upcomingEventsMainText h2 {
    font-size: 6vw;
    font-weight: 800;
    padding: 10vh
}

#upcomingCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px
}

.upcomingCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 60%;
    max-width: 60%;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px
}

.upcomingCardleft {
    background-color: #ffb703;
    min-width: 30%;
    min-height: 200px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.date {
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.date span {
    font-size: 150px
}

.month {
    background-color: #1e2529;
    height: 40px;
    display: flex;
    align-items: center;
    color: #eaf1f2;
    justify-content: center;
    font-size: 30px;
    border-radius: 0 0 0 10px
}

.upcomingCardRight {
    background-color: #eaf1f2;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='900' height='400' preserveAspectRatio='none' viewBox='0 0 900 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask20514%26quot%3b)' fill='none'%3e%3cpath d='M774.22 140.46 L829.97 139.59L770.7373645826908 108.6673645826908z' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='1.06' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M390.67 125.66L399.75 116.63 410.55 123.51 419.64 114.48 430.44 121.36 439.52 112.34 450.32 119.21' stroke='rgba(33%2c 158%2c 188%2c 1)' stroke-width='2.5' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='260.48' height='260.48' clip-path='url(%26quot%3b%23SvgjsClipPath20515%26quot%3b)' x='234.59' y='63.46' fill='url(%23SvgjsPattern20516)' transform='rotate(217.76%2c 364.83%2c 193.7)'%3e%3c/rect%3e%3crect width='121.44' height='121.44' clip-path='url(%26quot%3b%23SvgjsClipPath20517%26quot%3b)' x='784.39' y='168.55' fill='url(%23SvgjsPattern20518)' transform='rotate(27.05%2c 845.11%2c 229.27)'%3e%3c/rect%3e%3crect width='209.04' height='209.04' clip-path='url(%26quot%3b%23SvgjsClipPath20519%26quot%3b)' x='165.91' y='84.2' fill='url(%23SvgjsPattern20520)' transform='rotate(288.62%2c 270.43%2c 188.72)'%3e%3c/rect%3e%3cpath d='M922.52 211.32 L885.86 191.97L920.3841061807265 185.45089381927357z' stroke='rgba(33%2c 158%2c 188%2c 1)' stroke-width='1.07' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3ccircle r='53.408407778316516' cx='49.94' cy='142.79' stroke='rgba(251%2c 133%2c 0%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='254.32' height='254.32' clip-path='url(%26quot%3b%23SvgjsClipPath20521%26quot%3b)' x='247.48' y='-79.15' fill='url(%23SvgjsPattern20522)' transform='rotate(335.85%2c 374.64%2c 48.01)'%3e%3c/rect%3e%3crect width='204' height='204' clip-path='url(%26quot%3b%23SvgjsClipPath20523%26quot%3b)' x='473.36' y='284.28' fill='url(%23SvgjsPattern20524)' transform='rotate(282.78%2c 575.36%2c 386.28)'%3e%3c/rect%3e%3cpath d='M189.96 271.42a5.6 5.6 0 1 0-7.45 8.36 5.6 5.6 0 1 0 7.45-8.36zM179.31 283.36a5.6 5.6 0 1 0-7.45 8.36 5.6 5.6 0 1 0 7.45-8.36zM168.66 295.3a5.6 5.6 0 1 0-7.45 8.36 5.6 5.6 0 1 0 7.45-8.36zM158.01 307.24a5.6 5.6 0 1 0-7.45 8.36 5.6 5.6 0 1 0 7.45-8.36z' stroke='rgba(142%2c 202%2c 230%2c 1)' stroke-width='1.46'%3e%3c/path%3e%3cpath d='M257.75 2.29a5.6 5.6 0 1 0-0.94 11.16 5.6 5.6 0 1 0 0.94-11.16zM256.4 18.23a5.6 5.6 0 1 0-0.94 11.16 5.6 5.6 0 1 0 0.94-11.16zM255.05 34.18a5.6 5.6 0 1 0-0.94 11.16 5.6 5.6 0 1 0 0.94-11.16zM253.7 50.12a5.6 5.6 0 1 0-0.94 11.16 5.6 5.6 0 1 0 0.94-11.16zM244.51-30.95a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM243.16-15a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM241.81 0.94a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM240.46 16.88a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM231.27-64.18a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM229.92-48.24a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM228.57-32.3a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16zM227.22-16.35a5.6 5.6 0 1 0-0.95 11.16 5.6 5.6 0 1 0 0.95-11.16z' fill='rgba(142%2c 202%2c 230%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask20514'%3e%3crect width='900' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='8.14' height='8.14' patternUnits='userSpaceOnUse' id='SvgjsPattern20516'%3e%3cpath d='M4.07 1L4.07 7.140000000000001M1 4.07L7.140000000000001 4.07' stroke='rgba(251%2c 133%2c 0%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20515'%3e%3ccircle r='65.12' cx='364.83' cy='193.7'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.12' height='10.12' patternUnits='userSpaceOnUse' id='SvgjsPattern20518'%3e%3cpath d='M0 10.12L5.06 0L10.12 10.12' stroke='rgba(142%2c 202%2c 230%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20517'%3e%3ccircle r='30.36' cx='845.11' cy='229.27'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='209.04' height='8.04' patternUnits='userSpaceOnUse' id='SvgjsPattern20520'%3e%3crect width='209.04' height='4.02' x='0' y='0' fill='rgba(33%2c 158%2c 188%2c 1)'%3e%3c/rect%3e%3crect width='209.04' height='4.02' x='0' y='4.02' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20519'%3e%3ccircle r='52.26' cx='270.43' cy='188.72'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.48' height='7.48' patternUnits='userSpaceOnUse' id='SvgjsPattern20522'%3e%3cpath d='M3.74 1L3.74 6.48M1 3.74L6.48 3.74' stroke='rgba(142%2c 202%2c 230%2c 1)' fill='none' stroke-width='1.82'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20521'%3e%3ccircle r='63.58' cx='374.64' cy='48.01'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern20524'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(33%2c 158%2c 188%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath20523'%3e%3ccircle r='51' cx='575.36' cy='386.28'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    min-width: 70%;
    min-height: 200px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left
}

.eventName {
    width: 100%;
    font-size: 39px;
    font-weight: 700;
    padding-left: 25px
}

.eventDetails {
    width: 100%;
    font-size: 20px;
    padding-left: 25px
}

.upLink {
    width: 100%;
    text-align: left;
    padding: 20px
}

.upLink a {
    background-color: #ffb703;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px
}

.upcomingSeeMore a {
    text-decoration: none;
    font-size: 20px;
    background-color: #eaf1f2;
    padding: 6px;
    color: #111;
    border-radius: 4px
}

#newsHead {
    text-align: center;
    padding-top: 50px
}

#newsHead h1:nth-child(1) {
    color: transparent;
    font-size: 6vw;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--themeMainBlue)
}

#newsHead h1:nth-child(2) {
    margin-top: -65px;
    color: var(--themeMainBlue);
    font-weight: 400;
    font-size: 9vw;
    font-weight: 800
}

#newsCardsOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#newsCards {
    max-width: 60%;
    min-width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 50px
}

.newsCard {
    min-width: 100%;
    max-width: 33%;
    min-height: 400px;
    max-height: 400px;
    background-color: #eaf1f2;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .1) 0px 10px 15px -3px, rgba(0, 0, 0, .05) 0px 4px 6px -2px
}

.newsTopInnerImage {
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    border-radius: 2.5px;
    box-shadow: rgba(0, 0, 0, .15) 0px 2px 8px
}

.newsTopImage {
    padding: 5px;
    border-radius: 3px;
    height: 70%;
    background-color: #eaf1f2
}

.newsBottomContent {
    padding: 10px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.newsBottomHeading {
    font-size: larger;
    font-weight: 600
}

.newsBottomDetails {
    font-size: small
}

.newsBottomRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

.newsBottomDetails {
    color: #212122
}

.newsBottomRow {
    font-size: 12px;
    color: rgba(17, 17, 17, .79)
}

.newsSeeMore a {
    text-decoration: none;
    color: rgba(17, 17, 17, .79)
}

#newsLetter {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

#newsLetterInnerContainer {
    background-color: #fb8500;
    min-width: 60%;
    padding: 50px;
    border-radius: 5px
}

#newsLetterInnerContainer h2 {
    text-align: center;
    font-size: 45px
}

#newsLetterInnerContainer {
    text-align: center
}

#email {
    min-width: 80%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center
}

#emailField {
    min-width: 90%;
    padding: 11px;
    border: 1px solid #111;
    background-color: var(--themeYellowDark);
    border-radius: 3px 0 0 3px;
    outline: 1px solid transparent
}

#emailField::placeholder {
    color: #111
}

#submitNewsLetter {
    background-color: #111;
    padding: 11px;
    border-radius: 0 3px 3px 0;
    color: #eaf1f2;
    cursor: pointer
}

#emailField:focus {
    border: 2px solid #111;
    outline: none
}

footer {
    background-color: var(--backGround);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px
}

#footerLeft {
    color: var(--textColor)
}

#footerRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right
}

#footerRight h3 {
    color: var(--textColor);
    font-weight: 100
}

#footerRight a {
    color: var(--textColor);
    text-decoration: none
}

#socialLinks a {
    font-size: 25px
}

.call,
.mail {
    color: var(--textColor);
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-end
}

@media screen and (max-width:1200px) {
    #scHeadImage {
        min-width: 500px;
        min-height: 470px
    }

    #scHeadInnerImage {
        height: 460px;
        width: 100%
    }

    #scHeadTextMain {
        text-align: center;
        font-size: 20px;
        max-width: 550px;
        padding-bottom: 30px
    }

    #scHeadNote {
        flex-direction: column
    }

    #home-Text-Content p:nth-child(2) {
        font-size: 30px
    }

    #home-Text-Content p:nth-child(4) {
        font-size: 27px
    }

    #home-Text-Content p:nth-child(5) {
        font-size: 2.5vw
    }

    .upcomingCard {
        min-width: 80%;
        max-width: 80%
    }

    #NoteScHeading p:nth-child(1),
    #upcomingItemsHead p:nth-child(1) {
        font-size: 5vw
    }

    #NoteScHeading p:nth-child(2),
    #upcomingItemsHead p:nth-child(2) {
        margin-top: -40px;
        font-size: 8vw
    }

    .eventDetails {
        width: 100%;
        font-size: 20px;
        font-weight: 400
    }

    .eventName {
        font-size: 32px
    }

    #newsHead {
        padding-top: 100px
    }

    #newsHead h1:nth-child(1) {
        font-size: 7.5vw
    }

    #newsHead h1:nth-child(2) {
        margin-top: -44px;
        font-size: 9vw
    }

    #newsCards {
        max-width: 80%;
        min-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 50px
    }

    #newsLetterInnerContainer {
        min-width: 80%
    }
}

@media screen and (max-width:960px) {
    .navText {
        font-size: 12px
    }

    #nav-left-top {
        font-size: 20px
    }

    #nav-right {
        background-color: var(--themeYellowDark)
    }

    #nav-right a {
        font-size: 14px
    }

    #nav-mid a {
        font-size: 11px
    }

    #NoteScHeading p:nth-child(1),
    #upcomingItemsHead p:nth-child(1) {
        font-size: 5vw
    }

    #NoteScHeading p:nth-child(2),
    #upcomingItemsHead p:nth-child(2) {
        margin-top: -15px;
        font-size: 8vw
    }

    #home-Image-Text-Left {
        text-align: left
    }

    #home-Image-Text-Left p:nth-child(1) {
        font-size: 3vw
    }

    #scHeadTextMain span {
        font-size: 33px;
        font-weight: 600
    }

    #scHeadInnerImage {
        border-radius: unset;
        box-shadow: unset
    }

    #scHeadTextMain {
        font-size: 18px
    }

    #home-Image-Text-Left p:nth-child(2) {
        font-size: 2vw
    }

    #home-Content {
        flex-direction: column;
        gap: 50px;
        text-align: center
    }

    #home-Text-Content p {
        font-size: 3.5vw
    }

    #home-Text-Content p:nth-child(2) {
        font-size: 3vw
    }

    #home-Text-Content p:nth-child(3) {
        font-size: 5vw
    }

    #home-Text-Content p:nth-child(4) {
        font-size: 3.5vw
    }

    #home-Text-Content p:nth-child(5) {
        font-size: 4vw;
        font-weight: 700
    }

    #home-Image {
        min-width: 650px;
        height: 45vh;
        min-height: 450px;
        transform: rotate(0deg)
    }

    #newsHead h1:nth-child(2) {
        margin-top: -20px;
        font-size: 9vw
    }

    #newsCards {
        max-width: 80%;
        min-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 9px
    }

    .newsCard {
        min-height: 430px;
        max-height: 430px
    }
}

@media screen and (max-width:675px) {
    body {
        background-image: unset;
    }

    nav {
        padding: 15px;
        background-color: var(--backGround)
    }

    .navLogo {
        display: none
    }

    #nav-mid,
    #nav-right {
        display: none
    }

    #mobileMenu {
        display: flex;
        gap: 20px
    }

    #mobileMenu div {
        color: var(--textColor)
    }

    #innerImage {
        background-position: center;
        border-radius: unset;
        box-shadow: unset
    }

    #home-Image {
        min-width: 95vw;
        border-radius: 2px
    }

    #home-Image-Text-Left p:nth-child(1) {
        font-size: 20px
    }

    #home-Image-Text-Left p:nth-child(2) {
        font-size: 14px
    }

    #home-Image-Text-Right p {
        font-size: 15px
    }

    #home-Text-Content p {
        font-size: 5vw
    }

    #home-Text-Content p:nth-child(2) {
        font-size: 5vw
    }

    #home-Text-Content p:nth-child(3) {
        font-size: 8vw
    }

    #home-Text-Content p:nth-child(4) {
        font-size: 5vw
    }

    #home-Text-Content p:nth-child(5) {
        font-size: 6vw;
        font-weight: 700
    }

    #NoteScHead {
        padding: 10vh 2vw;
        text-align: center
    }

    #NoteScHeading p:nth-child(1),
    #upcomingItemsHead p:nth-child(1) {
        color: transparent;
        font-size: 8vw;
        -webkit-text-stroke-width: 1px
    }

    #NoteScHeading p:nth-child(2),
    #upcomingItemsHead p:nth-child(2) {
        margin-top: -20px;
        color: var(--themeYellowDark);
        font-size: 15vw;
        font-weight: 800
    }

    #scHeadNote {
        margin-top: 50px;
        padding: 0;
        padding-top: 10px;
        min-width: 100%;
        max-width: 100px;
        gap: 10px;
        min-height: 100px
    }

    #scHeadImage {
        padding: 10px;
        min-width: 95%;
        border-radius: unset
    }

    #scHeadInnerImage {
        border-radius: unset;
        box-shadow: unset
    }

    #scHeadTextMain {
        text-align: left;
        font-size: 16px;
        max-width: 100%;
        padding: 15px
    }

    #scHeadTextMain span {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: px
    }

    #upcomingEventsMainText h2 {
        font-size: 40px
    }

    #upcomingCards {
        padding-bottom: 50px
    }

    .upcomingCard {
        min-width: 90%;
        max-width: 90%
    }

    .upcomingCardleft {
        min-width: 30%;
        min-height: 160px
    }

    .date {
        height: 120px
    }

    .date span {
        font-size: 100px
    }

    .month {
        height: 40px;
        font-size: 20px
    }

    .upcomingCardRight {
        min-height: 160px
    }

    .eventName {
        width: 100%;
        font-size: 27px;
        font-weight: 700;
        padding-left: 10px
    }

    .eventDetails {
        font-size: 12px;
        padding-left: 10px
    }

    .upLink {
        width: 100%;
        text-align: left;
        padding: 10px
    }

    .upLink a {
        padding: 3px 7px
    }

    #newsHead {
        padding-top: 50px
    }

    #newsHead h1:nth-child(1) {
        color: transparent;
        font-size: 8vw;
        -webkit-text-stroke-width: 1px
    }

    #newsHead h1:nth-child(2) {
        margin-top: -20px;
        font-size: 15vw;
        font-weight: 800
    }

    #newsCards {
        max-width: 90%;
        min-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px
    }

    .newsTopInnerImage {
        border-radius: unset;
        box-shadow: unset
    }

    #newsLetterInnerContainer {
        border-radius: unset;
        box-shadow: unset
    }

    #email {
        min-width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    #emailField {
        min-width: 90%;
        padding: 11px;
        border: 1px solid #111;
        background-color: var(--themeYellowDark);
        border-radius: 3px 0 0 3px;
        outline: 1px solid transparent
    }

    #emailField::placeholder {
        color: #111
    }

    #submitNewsLetter {
        background-color: #111;
        padding: 11px;
        border-radius: 0 3px 3px 0;
        color: #eaf1f2;
        cursor: pointer
    }

    #emailField:focus {
        border: 2px solid #111;
        outline: none
    }

    #submitNewsLetter,
    #emailField {
        border-radius: unset
    }
}